.login{
    height: 100vh;
    background-color: #85c2f0;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        width: 50%;
        display: flex;
        min-height: 600px;
        background-color: white;
        .left{
            flex: 1;
            background-image: linear-gradient(#0099ff,rgba(1, 6, 29, 0.578)),url('../../assets/loginPageImage.jpg');
            background-size: cover;
            background-position: center;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            color: white;
            overflow: hidden;
            h1{
                font-size: 5rem;
               
            }
            p{
                color: rgb(208, 208, 208);
            }
            span{
               font-size: 1rem; 
            }
            button{
                width: 50%;
                padding: 1rem;
                color: #0099ff;
                font-weight: bold;
                cursor: pointer;
                border: none;
                border-radius: 10px;
            }
            button:hover{
                background-color: #0099ff;
                color: white;
                transition: 0.3s;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            h1{
                color: #0099ff;
                font-size: 2rem;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                input{
                    border: none;
                    border-bottom: 1px solid grey;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding: 1rem;
                    color: white;
                    background-color: #0099ff;
                    font-weight: bold;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;

                }
                button:hover{
                    background-color:#81c2ed;
                }

            }
        }
    }
}